@page "/candidates"
@inject HttpClient Http

<div class="fulll">
    <div class="wrapper1">
        <NavMenuBar />
        <main class="page-candidates d-flex">
            <!--Candidates List-->
            <div class="candidates-list d-flex flex-column">
                <h1>Candidați</h1>
                <div class="list d-flex flex-column w-100">
                    @if (candidates == null)
                    {
                        <p>Nu există candidați pentru acest tip de alegeri în acest moment!</p>
                    }
                    else
                    {
                        @foreach (var item in candidates)
                        {
                            <div class="card flex-row align-items-center mb-4 p-3">
                                <div class="imagee">
                                    <img src="assets/pnl.png" onload="chart()" />
                                </div>
                                <div class="d-flex flex-row flex-wrap align-items-center justify-content-center nameVote">
                                    <div class="name">
                                        <h3 class="card-title font-weight-bold">@item</h3>
                                    </div>
                                    <div class="w-30">
                                        <button class="btn btn-primary" id="voteButton" type="button" data-toggle="modal" data-target="#voteModal" onclick="modalauth">Votează</button>
                                    </div>
                                </div>
                                
                            </div>
                        }
                    }
                </div>
            </div>

            <!--Statistics-->
            <div class="statistics d-flex flex-column">
                <h1>Statistici</h1>
                <div class="selection mx-auto mb-3">
                    <img src="./assets/chart.png" onload="chart()" style="display: none;" />
                    <select class="browser-default custom-select" id="type" onchange="selected()">
                        @foreach (var item in types)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select class="browser-default custom-select" id="cities" style="display: none;" onchange="chart1()">
                        @foreach (var item in cities)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select class="browser-default custom-select" id="counties" style="display: none;" onchange="chart1()">
                        @foreach (var item in counties)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <div id="piechart"></div>
            </div>
        </main>
        <BottomBar />
    </div>
</div>


<!--Confirm Vote Modal-->
<div class="modal" id="voteModal" tabindex="-1" role="dialog" aria-labelledby="voteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content shadow rounded border-0">
            <div class="modal-header bg-warning text-center">
                <h4 class="modal-title text-white w-100 font-weight-bold py-2">Confirmați Votul</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="login" class="font-weight-bold">Introduceți CNP-ul</label>
                    <input type="text" class="form-control" id="login" name="login" autocomplete="off" placeholder="CNP..." required/>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a href="#" type="button" class="btn btn-outline-warning waves-effect">Confirmare</a>
            </div>
        </div>
    </div>
</div>


@code{
    public class Candidate
    {
        public Guid ID { get; set; }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public Guid PartyID { get; set; }
    }

    public class Statistics
    {
        public float MaleVotes { get; set; }

        public float FemaleVotes { get; set; }

        public Statistics()
        {
            MaleVotes = 0;
            FemaleVotes = 0;
        }
    }


    private Candidate[] candidates;
    private string apiUrl = "https://localhost:44380/api/candidates";

    protected override async Task OnInitializedAsync()
    {
        candidates = await Http.GetJsonAsync<Candidate[]>(apiUrl);
    }

    List<string> cities = new List<string>() { "Bucuresti", "Iasi", "Oradea", "Galati", "Cluj", "Constanta"};
    List<string> counties = new List<string>() { "Pascani", "Bla", "Laza", "Bla", "Bla"};


    List<string> types = new List<string>() { "Tara", "Oras", "Localitate", "Varsta 18-30", "Varsta 31-60", "Varsta 61+", "Top 10 Orase", "Top 10 Candidati"};
    public string selectedString = "Tara";
    public Statistics content = new Statistics();

    protected async Task TestFunction(ChangeEventArgs e)
    {
        selectedString = e.Value.ToString();

        if(selectedString == "Tara")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/country");
        if(selectedString == "Oras")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/");
        if(selectedString == "Localitate")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/county/");
        if (selectedString == "Varsta 18-30")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/age18_30");
        if (selectedString == "Varsta 31-60")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/age31_60");
        if (selectedString == "Varsta 61+")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/age61_110");
        if(selectedString == "Top 10 Candidati")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/top10Candidates");
        if(selectedString == "Top 10 Orase")
            content = await Http.GetJsonAsync<Statistics>("https://localhost:44380/api/statistics/top10City");
    }
}
